@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

form{
    font-family: 'Inter', sans-serif;
    width: 750px;
    padding: 16px;
    border-radius: 15px;
    margin:auto;
    background-color:white;
}

nav{
    background-color:white}
    
h2 {
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.iconhome {
    width: 35%;
    margin-top: 0px;
    margin-left: 350px;
    position: absolute; left: 830px; top: 30px;
    background-color: transparent;
}

.iconuser {
    width: 35%;
    margin-top: 0px;
    margin-left: 350px;
    position: absolute; left: 770px; top: 32px;
    background-color: transparent;
}

.separador {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 40px;
    background-color: #328CC1;
  }

