@import url('./estilos_base.css');



.logo-pagina {
  width: 225px;
  margin: 0;
}

.index-article section article {
  width: 20%;
  margin-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.37);
}

.index-article section article img {
  width: 300px;
}

.index-article section article p {
  padding: 10px 15px;
  text-align:justify;
}

.index-article section article a {
  padding-right: 15px;
  text-align: end;
  display: block;
  text-decoration: underline;
  font-size: 16px;
  color: var(--sky-color);
}

/* ------ Vista sin loguearse --------*/

.header-perfil-not-login {
  display: grid;
  grid-column: 3;
}
