{% extends "base.html" %}
{% block content %}
<main>
  <a href="{{ url_for('medicos.gestionar_citas')}}">
    <button title="Atras" class="contenedor-boton">
      <div class="boton-arriba">
        <i class="fas fa-chevron-left"></i>
      </div>
    </button>
  </a>
  <div class="title">
    <h2 class="title-v-d">Detalle de la cita</h2>
  </div>
  <section class="container-v-d">
    <aside class="informacion-cita aside-v-d">
        <div>
          <h3>Fecha</h3>
          <p>{{cita.fecha}}</p>
          <p>{{cita.hora}}</p>
        </div>
        <div>
          <h3>Paciente</h3>
          <p>{{cita.paciente.nombre}}</p>
          <p>{{cita.paciente.tipo_documento}} {{cita.paciente.no_documento}}</p>
        </div>
        <div class="estrellas-calificadas">
          <h3>Calificación Recibida</h3>
          <p>
          {% for i in range(0,cita.calificacion) %}
          ★ 
          {% endfor %}
          </p>
        </div>
      </aside>
    <aside class="comentarios-cita  aside-2-v-d">
        <h3>Comentarios</h3>
        <div>
          <ul>
            {% for comentario in cita.comentarios %}
            <li class="li-medico">
              {{ comentario.comentario}}
              <p style="font-size:x-small;">Fecha: {{comentario.fecha_hora}}</p>
            </li>
            {% endfor %}

          </ul>
        </div>
    </aside>
  </section>
</main>
{% for message in get_flashed_messages() %}

  <div class="alert alert-warning alert-dismissible fade show" role='alert'>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    {{message}}
  </div>
{% endfor%}
<section class="container-add-comment">
  <form method="POST">
    <h3>Añadir una comentario</h3>
    {{ form.hidden_tag() }}
    <div class="add-comentario">
      {{ form.comentario(class_="form-control")}} 
    </div>
    <br>
    {{ form.crear(class_="btn btn-primary") }}
  </form>
</section>
{% endblock %}