{% extends "base.html" %}
{% block content %}
<main>
  <a href="{{ url_for('medicos.gestionar_citas')}}">
    <button title="Atras" class="contenedor-boton">
      <div class="boton-arriba">
        <i class="fas fa-chevron-left"></i>
      </div>
    </button>
  </a>
  <div class="title">
    <h2 class="title-v-d">Detalle de la cita</h2>
  </div>
  <section class="container-v-d">
    <aside class="informacion-cita aside-v-d">
        <div>
          <h3>Fecha</h3>
          <p>13/10/2021</p>
        </div>
        <div>
          <h3>Paciente</h3>
          <p>Leo messi</p>
        </div>
        <div class="estrellas-calificadas">
          <h3>Calificación Recibida</h3>
          <p>★ ★ ★ ★ ★</p>
        </div>
      </aside>
    <aside class="comentarios-cita  aside-2-v-d">
        <h3>Comentarios</h3>
        <div>
          <ul>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
            <li class="li-medico">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus possimus iusto, fuga nemo cumque tempore aliquid adipisci perferendis
            </li>
          </ul>
        </div>
    </aside>
  </section>
</main>

<section class="container-add-comment">
  <h3>Añadir una comentario</h3>
  <div class="add-comentario">
    <input type="text">
    <button class="btn-add-comentario">Añadir</button>
  </div>
</section>
{% endblock %}