{% extends "base.html" %}
{% block content %}
<form method="get" method="post">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
      </div>
      <div class="col-xl-4 shadow p-3 mb-5 bg-white rounded">
        <p class="h4 text-center">Asignación de Citas</p>
        <div class="mb-3">
          <label class="form-label">Servicio</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona tu Médico</option>
            <option value="1">DoctorOne</option>
            <option value="2">DoctorTwo</option>
            <option value="3">DoctorThree</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Consultar disponibilidad</label>
          <br>
          <input type="date" class="form-check-date" id="inputDate"/>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="disabledFieldsetCheck">Acepto términos y condiciones</label>
          </div>
        </div>
          <div class="form-button">
            <button type="submit" class="btn btn-primary" id="buttonEnviar" disabled="disabled">Confirmar</button>
          </div>
      </div>
      <div class="col-xl-4">
      </div>
    </div>
  </div>
</form>
{% endblock %}