{% extends "base.html" %}
{% block content %}
<main>
  <div class="container">         
    <form class="row g-3" method="GET">
      <h2>Editar datos de pacientes</h2>
      <!-- Nombres y apellidos -->
      <div class="col-md-6">
        <label for="inputname" class="form-label">Nombres y Apellidos</label>
        <input type="text" class="form-control" id="inputname" required>
      </div>
      <!-- Telefono -->
      <div class="col-md-6">
        <label for="inputnumber" class="form-label">Télefono de contacto</label>
        <input type="number" class="form-control" id="inputnumber" required>
      </div>
      <div class="col-md-6">
        <label for="inputnumber" class="form-label">Dirección de Residencia</label>
        <input type="text" class="form-control" id="inputaddres" required>
      </div>
      <!-- Correo -->
      <div class="col-md-6">
        <label for="inputemail" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="inputemail" required>
      </div>
      <!-- Contraseña -->
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña Actual</label>
        <input type="password" class="form-control" id="inputPasswordActual4" required minlength="8">
      </div>
      <!-- Contraseña Nueva -->
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña Nueva</label>
        <input type="password" class="form-control" id="inputPasswordNueva4" required minlength="8">
      </div>
      <!-- Aceptar norvativa datos -->
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            Declaro haber leído y aceptado la normativa sobre protección de datos.
          </label>
        </div>
      </div>
      <!-- Botones enviar y eliminar -->
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="reset" class="btn btn-primary">Eliminar todo</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
