{% extends "base.html" %}
{% block content %}
<main>
  <div class="container-fluid">        
    <div class="tab-content" id="pills-citas">
      <div class="tab-pane fade show active" id="pills-citas" role="tabpanel" aria-labelledby="pills-citas-tab">
        <br>
        <form action="" method="get" method="post" name="listadoCita">
          <div class="container">
            <p class="h4">Listado de Citas</p>
            <br>
            <label> Filtrar cita por: </label>
            <input type="radio" class="form-check-input" name="todo" id="todo" checked />
            <label class="form-check-label">Todo</label>
            <input type="radio" class="form-check-input" name="todo" id="medico" />
            <label class="form-check-label">Médico</label>
            <input type="radio" class="form-check-input" name="todo" id="FechaLabel" />
            <label class="form-check-label">Fecha</label>
            
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputFiltrar">
                  <input type="date" class="form-check-date" name="todo" id="FechaInput" />
                  <select class="form-select" aria-label="Default select example" id="selectMedico">
                    <option selected>Selecciona Médico</option>
                    <option value="1">DoctorOne</option>
                    <option value="2">DoctorTwo</option>
                    <option value="3">DoctorThree</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <!--th scope="col">Cédula</th>
              <th scope="col">Paciente</th-->
              <th scope="col">Médico</th>
              <th scope="col">Estado Cita</th>
              <th scope="col">Fecha</th>
              <th scope="col">link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!--th scope="row">1</th>
              <td>Juan Perez</td-->
              <td>DoctorOne</td>
              <td>Pendiente</td>
              <td>10/10/2021</td>
              <td><a href="/login/detalle_cita">detalles</a></td>
            </tr>
            <tr>
              <!--th scope="row">2</th>
              <td>María Goméz</td-->
              <td>DoctorTwo</td>
              <td>Pendiente</td>
              <td>10/10/2021</td>
              <td><a href="/login/detalle_cita">detalles</a></td>
            </tr>
            <tr>
              <!--th scope="row">3</th>
              <td>Jose Pablo</td-->
              <td>DoctorThree</td>
              <td>Pendiente</td>
              <td>10/10/2021</td>
              <td><a href="/login/detalle_cita">detalles</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="padding-left: 40%;">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
{% endblock %}