{% extends "base.html" %}
{% block content %}

<h2>Ultimas noticias</h2>
<section>
  <article>
    <img src="../static/img/imagen-doctores-home.png" alt="">
    <h3>Nombre noticia</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi unde adipisci excepturi odit veniam quibusdam numquam velit repellat</p>
    <a href="">Ver mas</a>
  </article>
  <article>
    <img src="../static/img/imagen-doctores-home.png" alt="">
    <h3>Nombre noticia</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi unde adipisci excepturi odit veniam quibusdam numquam velit repellat</p>
    <a href="">Ver mas</a>
  </article>
  <article>
    <img src="../static/img/imagen-doctores-home.png" alt="">
    <h3>Nombre noticia</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi unde adipisci excepturi odit veniam quibusdam numquam velit repellat</p>
    <a href="">Ver mas</a>
  </article>
</section>

{% endblock %}