{% extends "base.html" %}
{% block content %}

<main>
  <div class="container-xxl">
    <div class="row">
      <div class="col-xl-4">
      </div>
      <div class="col-xl-4 shadow p-3 mb-5 bg-white rounded">
        <p class="h4 text-center">Mi Perfil</p><br>
        <div class="mb-3">
          <div class="row linePerfil">
            <div class="col-sm-2 ">
              <img src="../static/img/medicoFamiliar.png" width="50px" height="50px">
            </div>
            <div class="col">
                <label><strong>Médico Familiar</strong></label>
                <br>
                <Input:text class="text-muted">database</Input:text>
            </div>
        </div>
        <div class="row linePerfil">
          <div class="col-sm-2">
            <img src="../static/img/Usuario.png" width="50px" height="50px">
          </div>
          <div class="col">
            <label><strong>Tipo de Afiliado</strong></label>
            <br>
            <Input:text class="text-muted">database</Input:text>
          </div>
        </div>
        <div class="row linePerfil">
          <div class="col-sm-2">
            <img src="../static/img/estadoAfiliacion.png" width="50px" height="50px">
          </div>
          <div class="col">
            <label><strong>Estado de Afiliación</strong></label>
            <br>
            <Input:text class="text-muted">database</Input:text>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
              <img src="../static/img/ipsActual.png" width="50px" height="50px">
          </div>
          <div class="col">
            <label><strong>I.P.S. Actual</strong></label>
            <br>
            <Input:text class="text-muted">database</Input:text>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-sm" id="editButton">Editar Perfil</button>
      <img src="../static/img/editar perfil.png">                            
      <button type="button" class="btn btn-secondary btn-sm" id="editButton">Cerrar Sesión</button>
      <img src="../static/img/cerrar sesion.png">                            
      <a href="#">Ver información de Citas</a>
    </div>
  </div>
</main>

{% endblock %}
