{% extends "base.html" %}
{% block content %}
<div class="center-registro">
  <div class="container-registro">         
    <form class="registro row g-3" action="{{url_for('registro_envio')}}" method="POST">
        <h2>Formulario de registro de pacientes</h2>
      <!-- Nombres y apellidos -->
      <div class="col-md-6">
        <label for="inputname" class="form-label">Nombres y Apellidos</label>
        <input type="text" class="form-control" name="inputname" >
      </div>
      <!-- Telefono -->
      <div class="col-md-6">
        <label for="inputnumber" class="form-label">Télefono de contacto</label>
        <input type="number" class="form-control" name="inputnumber" >
      </div>
      <!-- Tipo documento -->
      <div class="col-md-4">
      <label for="inputdocumenttype" class="form-label">Tipo de documento</label>
      <select name="inputdocumenttype" class="form-select " >
        <option selected>Cédula de ciudadanía</option>
        <option>Cédula extranjera</option>
        <option>Pasaporte</option>
        <option>Registro civil</option>
      </select>
      </div>
      <!-- Número documento -->
      <div class="col-md-6">
        <label for="inputdocumentnumber" class="form-label">Número de documento</label>
        <input type="text" class="form-control" name="inputdocumentnumber" placeholder="Sin espacios ni puntos" >
      </div>
      <!-- Fecha nacimiento -->
      <div class="col-md-6">
        <label for="inputdate" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" name="inputdate" >
      </div>
      <!-- Correo -->
      <div class="col-md-6">
        <label for="inputemail" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" name="inputemail" >
      </div>
      <!-- Contraseña -->
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="inputPassword" >
      </div>
      <!-- Aceptar norvativa datos -->
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" >
          <label class="form-check-label" for="gridCheck">
            Declaro haber leído y aceptado la normativa sobre protección de datos.
          </label>
        </div>
      </div>
      <!-- Botones enviar y eliminar -->
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="reset" class="btn btn-primary">Eliminar todo</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}