<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/resultado_busqueda.css">
  <title>Document</title>
</head>
<body>
  <header>
    <img src="../static/img/logtipo_pagina.jpeg" alt="Logotipo de la pagina" class="logo-pagina">
    <nav>
      <div class="contenedor-buscador">
        <input type="text" placeholder="Buscar">
        <img class="img-seach" src="../static/img/search.png" alt="">
      </div>
      <div class="contenedor-imagenes">
        <img class="img-home-profile" src="../static/img/user.png" alt="Logo usuario">
        <img class="img-home-profile" src="../static/img/home.png" alt="Logo home">
      </div>
    </nav>
  </header>
  <main>
    <section class="main-filtrar-busqueda">
      <button class="btn-1">Todo</button>
      <button>Citas</button>
      <button>Pacientes</button>
      <button>Médicos</button>
    </section>
    <div class="informacion-busqueda-totales">
      <p>Total: 1878</p>
      <p>|</p>
      <p>Numero de citas: 1847</p>
      <p>|</p>
      <p>Numero de pacientes: 5000</p>
      <p>|</p>
      <p>Numero de Medicos: 1000</p>
    </div>
    <section class="informacion-busqueda">
      <section class="informacion-busqueda-datos">
        <div class="informacion-busqueda-paciente">
          <h2>Pacientes</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente cupiditate dolore cumque delectus necessitatibus consectetur eius ipsum doloremque. Cupiditate esse placeat quia voluptate et provident at, facilis numquam eaque debitis.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quos voluptates omnis nam optio corrupti vel repudiandae incidunt fugiat! Doloremque architecto repudiandae vero? Dignissimos fuga obcaecati dolor ipsam, inventore dolore!</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod vel asperiores suscipit natus, dolorem mollitia magnam dolorum at commodi unde. Suscipit, pariatur. Debitis rerum, necessitatibus veniam aut voluptate inventore itaque!</p>
        </div>
        <div class="informacion-busqueda-paciente">
          <h2>Medicos</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente cupiditate dolore cumque delectus necessitatibus consectetur eius ipsum doloremque. Cupiditate esse placeat quia voluptate et provident at, facilis numquam eaque debitis.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quos voluptates omnis nam optio corrupti vel repudiandae incidunt fugiat! Doloremque architecto repudiandae vero? Dignissimos fuga obcaecati dolor ipsam, inventore dolore!</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod vel asperiores suscipit natus, dolorem mollitia magnam dolorum at commodi unde. Suscipit, pariatur. Debitis rerum, necessitatibus veniam aut voluptate inventore itaque!</p>
        </div>
        <div class="informacion-busqueda-paciente">
          <h2>Citas existentes</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente cupiditate dolore cumque delectus necessitatibus consectetur eius ipsum doloremque. Cupiditate esse placeat quia voluptate et provident at, facilis numquam eaque debitis.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quos voluptates omnis nam optio corrupti vel repudiandae incidunt fugiat! Doloremque architecto repudiandae vero? Dignissimos fuga obcaecati dolor ipsam, inventore dolore!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quos voluptates omnis nam optio corrupti vel repudiandae incidunt fugiat! Doloremque architecto repudiandae vero? Dignissimos fuga obcaecati dolor ipsam, inventore dolore!</p>
        </div>
      </section>
    </section>
  </main>
  <footer>
    <section>
      <p>Vistas generalas</p>
      <a href="#">Login</a>
      <a href="#">Registro</a>
      <a href="#">Listado de citas</a>
    </section>
    <section>
      <p>Vistas Paciente</p>
      <a href="#">Agendar cita</a>
      <a href="#">Detalles de la cita</a>
    </section>
    <section>
      <p>Vistas Medico</p>
      <a href="#">Detalles de la cita</a>
    </section>
  </footer>
</body>
</html>